.management_div{
    width:800px;
    height:auto;
    border: 1px solid black;
    box-shadow: 5px 5px 15px black;
    background-color: lavender;
    padding: 20px;
    margin-top: 50px;
    margin: auto;
}
.user_roster{
    width:700px;
    margin-top: 30px;
    padding: 10px;
    float: left;
    border-left:1px solid grey;
}
.flag_div{
    width:50px;
    margin-top: 30px;
    padding: 10px;
    float: left;
}

.user_entry{
    cursor: pointer;
}
.user_entry:hover{
    background-color: rgb(240,240,250);
}
