<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>UpdateTopicQuiz</servlet-name>
        <servlet-class>cLPackage.UpdateTopicQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTopicQuiz</servlet-name>
        <url-pattern>/UpdateTopicQuiz</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTopicServlet</servlet-name>
        <servlet-class>cLPackage.AddTopicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTopicServlet</servlet-name>
        <url-pattern>/AddTopicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTopicServlet</servlet-name>
        <servlet-class>cLPackage.DeleteTopicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTopicServlet</servlet-name>
        <url-pattern>/DeleteTopicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>cLPackage.AddQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/AddQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>cLPackage.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/DeleteQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TakeTopicQuizServlet</servlet-name>
        <servlet-class>cLPackage.TakeTopicQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TakeTopicQuizServlet</servlet-name>
        <url-pattern>/TakeTopicQuizServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>cLPackage.MailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>cLPackage.RatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/RatingServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>